<h2 mat-dialog-title>Exam Details:</h2>
<div mat-dialog-content>
<!--  <button (click)="save()">Click this to save</button>
  <form (ngSubmit)="save()">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Exam Name</mat-label>
        <input matInput  [(ngModel)]="editval.examName" name="examName" placeholder="Enter Exam Name">
      </mat-form-field>
    </p>

    <p>Exam Levels:</p>
    <div *ngFor="let level in editval.levels">
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Passing Criteria:</mat-label>
            <input matInput [(ngModel)]="level.passingCriteria" name="passingCriteria" placeholder="Enter Passing Criteria" >
          </mat-form-field>
        
        </p>

        <p>Questions:</p>
        <div *ngFor="let question in level.questions">
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Question statement</mat-label>
                    <input matInput  [(ngModel)]="question.questionStatement" name="questionStatement" placeholder="Enter Question Statement">
                  </mat-form-field>
                </p>

              <p>
                
                
              </p>
      </div>
    </div>

 
    <input class="mat-raised-button mat-primary" type="submit" value="Submit">
  </form>
-->
</div>